body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7bd0f8;
}

.perfil{
    flex: 1
}

.secciones {
    display: flex;
    justify-content: space-between; 
    align-items: top;           
    max-width: fill; 
    max-height: fill;                                          
}

.logo img {
    width: 150px;                  
    height: 150px;                 
    object-fit: cover;             
    border-radius: 10px;          
}

button {
    background-color: #7bd0f8;

}

h1 {
    text-align: center;
}

h4 {
    margin-left: 20px;
}



input {
    margin-left: 20px;
}

div {
    background-color: rgb(255, 255, 255);
    padding: 12px;
    margin-left: 20px;
}
