@import '../clientes/clientes.css';

strong {
  color: #2c3e50;
}

select.swal2-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
}