<div class="container">

  <div class="header-section">
    <h1>Gestión de Clientes</h1>
    <button class="btn-primary" (click)="abrirModalCrear()">
      + Registrar Cliente
    </button>
  </div>

  <div class="search-container">
    <input type="text" [formControl]="buscador" class="search-input"
      placeholder="Buscar por nombre, cédula o correo..." />
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Documento / Cédula</th>
          <th>Teléfono</th>
          <th>Correo Electrónico</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (cliente of clientesPaginados; track cliente.cliente_id) {
        <tr>
          <td>{{ cliente.c_nombres }}</td>
          <td>{{ cliente.c_documento }}</td>
          <td>{{ cliente.c_telefono || '---' }}</td>
          <td>{{ cliente.c_email || '---' }}</td>
          <td class="action-buttons">
            <button class="btn-edit" (click)="abrirModalEditar(cliente)">
              Editar
            </button>
            <button class="btn-delete" (click)="eliminarCliente(cliente.cliente_id)">
              Deshabilitar
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="empty-state">
            No se encontraron clientes registrados o que coincidan con la búsqueda.
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <button class="btn-page" [disabled]="paginaActual === 1" (click)="cambiarPagina(paginaActual - 1)">
      Anterior
    </button>

    <span class="page-info">
      Página {{ paginaActual }} de {{ totalPaginas }}
    </span>

    <button class="btn-page" [disabled]="paginaActual === totalPaginas" (click)="cambiarPagina(paginaActual + 1)">
      Siguiente
    </button>
  </div>

</div>